@model dotnet_core_theater.ViewModels.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="margin-left:50px;">
        <div class="row">
            <h1>@Model.MovieModel.Title</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img width="250" src="@Model.MovieModel.ImgSource" />
            </div>
            <div class="col-md-4">
                <iframe width="480" height="375" src="@Model.MovieModel.TrailerSource"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Model.MovieModel.ReleaseDate</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Informatie</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Tijden</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div id="MovieInformation" class="content">
                            <div class="row">
                                <h3>@Model.MovieModel.Information</h3>
                                <br />
                                <h2>Cast:</h2>
                                @foreach (TMDbLib.Objects.Movies.Cast cast in Model.MovieModel.Cast)
                                {
                                    <p>@cast.Name -- @cast.Character</p>
                                }
                            </div>
                    
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <h3>Deze film draait op de volgende tijden:</h3>

                        @foreach (ScheduleModel schedule in Model.SchedulesModel)
                        {
                            <div class="row">

                                <form asp-controller="OrderModels" asp-action="Create" method="post">
                                    <div class="col-md-2">
                                        <h4>@schedule.Starttime.TimeOfDay in zaal: @schedule.Hall.HallNumber</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="hidden" name="scheduleID" value="@schedule.ScheduleID" />
                                    </div>
                                    @{await Html.RenderPartialAsync("~/Views/Partials/SeatPicker.cshtml", schedule);}
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:50px;">
        
    </div>
</div>

